/* 基本のスタイル */
.delighter.fir {
  transition: all .9s ease-out;
  transform:translatey(-100%); opacity:0;
  transition-duration:0.3s;
}
/* 基本のスタイル */
.delighter.sec {
  transition: all .9s ease-out;
  transform:translatey(-100%); opacity:0;
  transition-duration:0.6s;
}

.delighter.fir {
  transition-delay: 0.1s;
}
.delighter.sec {
  transition-delay: 0.15s;
}

/* スタート時のスタイル */
.delighter.started {
  transform: none;
  opacity: 1;
}
