/* 基本のスタイル */
.delighter.fir {
  transition: all .9s ease-out;
  transform:translatey(-50%); opacity:0;
  transition-duration:0.3s;
}
/* 基本のスタイル */
.delighter.sec {
  transition: all .9s ease-out;
  transform:translatey(-100%); opacity:0;
  transition-duration:0.3s;
}

.delighter.fir {
  transition-delay: 0.15s;
}
.delighter.sec {
  transition-delay: 0.30s;
}

/* スタート時のスタイル */
.delighter.started {
  transform: none;
  opacity: 1;
}

.ReactModal__Content {

  transition: all .3s ease-out;
  transform:translatey(-100%); opacity:0;
  transition-duration:0.4s;
}

/* .ReactModal__Content--after-open {
  transition-delay: 0.15s;
} */

.ReactModal__Content--after-open {
  transform: none;
  opacity: 1;
}

.ReactModal__Content--before-close {
  transition: all .9s ease-in-out;
  transform:translatey(-100%); opacity:0;
  opacity: 0;
  transition-duration:0.4s;
}



.ReactModal__Overlay {    
  transition: all .3s ease-out;
  transform:translatey(0%); opacity:0;
  transition-duration:0.2s;
}

.ReactModal__Overlay--after-open {
  transform: none;
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition-delay: 0.1s;
}