/* 基本のスタイル */

.delighter {
  transition: all .9s ease-out;
  transform:translatex(100%); opacity:0;
  transition-duration:0.5s;
}

.delighter.birth {
  transition-delay: 0.1s;
}
.delighter.img {
  transform:translatex(-100%); opacity:0;
  transition-delay: 0.1s;
}
.delighter.link {
  transition-delay: 0.2s;
}
.delighter.skill {
  transition-delay: 0.3s;
}
.delighter.hobby {
  transition-delay: 0.4s;
}

/* スタート時のスタイル */
.delighter.started {
  transform: none;
  opacity: 1;
}

.delighter.links {
  transition-delay: 0.6s;
  transform:translatey(100%); opacity:0;
}

.delighter.started {
  transform: none;
  opacity: 1;
}

.delighter.left-album {
  transition-delay: 0.3s;
  transform:translatex(100%); opacity:0;
}
.delighter.right-album {
  transform:translatex(-100%); opacity:0;
  transition-delay: 0.3s;
}

.delighter.message {
  transform:translatey(-100%); opacity:0;
  transition-delay: 0.3s;
}

.delighter.album {
  transform:translatey(0%); opacity:0;
  transition-delay: 0.3s;
}
